@import url('fonts.googleapis.com');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header, .footer, .intro {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}

.header {
    justify-content: space-between;
    padding: 2px 200px;
}

.intro {
    padding: 60px 200px;
}

.intro .title {
    font-size: 48px;
    font-weight: 900;
}

.introcontainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 48px;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: medium;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    border: 2px solid white;
}

.information{
    padding: 100px 200px;    
}

.information .title {
    font-size: 36px;
    font: #1F2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 60px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}

.profilepic {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 4px solid #397deb;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 150px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.mainquote {
    font-size: 36px;
    font: #1F2937;
    font-weight: 200;
    font-style: italic;
}

.author {
    color: #1d2633;
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    padding: 16px 16px;
}

.signuparea {
    margin: 100px 150px;
}

.containerbot {
    border-radius: 8px;
    border: 2px solid white;    
    background-color: #3882F6;
    color: white;
    min-width: 500px;
    height: 100px;
    font-size: 18px;
    font-weight: 200;
    padding: 36px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.maintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.maintext .signuptitle {
    font-size: 24px;
    font-weight: bold;
}

.mainbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    justify-content: center;
    padding: 50px 200px; 
}